<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test</h1>
    {{ range . }}
    <li>
        <h1>{{ .User }}</h1>
        <h3>{{ .Comment }}</h3>   
    </li>
         <button class="like-comment-btn" name="like_post" value="{{ .ID }}">Like</button>
        <button class="like-comment-btn" name="deslike_post" value="{{ .ID }}">Deslike</button><br>
        <span class="like-count">0 Likes</span>
        <span class="like-count">0 desLikes</span>
    {{ end }}
</body>
</html>